.sidebar{
    padding: 20px 10px;
    height: 100vh;
    overflow: auto;
    background-color: rgb(51, 53, 55);
    color: white;
}
.sidebar svg{
    width: 30px;
    height: 30px;
    color: white;
}